<html>
    <head>
        <title>{{ title }} Sentiment Analysis </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Sentiment Analysis MicroAPI Frontend</h1>
        <form action="/prediction" method="POST">
            <textarea name="text1" placeholder="Make a Comment: ...." rows="10" cols="109"></textarea><br><br>

            <input class="example_a" type="submit">
        </form>
        
        
        {% if final %}
        <div>
            <h2>The Sentiment of the comment</h2> is <h2> {{ final }}% positive!</h2>
            {% else %}
            <p></p>
            {% endif %}
        </div>
        {% if processed %}
        <div>
            <h2>The Keyword(s) detected </h2> is <h2> {{ processed }} </h2>
            {% else %}
            <p></p>
            {% endif %}
        </div>

        {% if lang %}
        <div>
            <h2>The Language code detected in the comment</h2> is <h2> {{ lang }} </h2>
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </body>
</html>
